[user]
    name = Kosei Kitahara
    email = surgo.jp@gmail.com
    signingkey = D18883191F02241B
[core]
    autocrlf = input
    safecrlf = warn
    editor = vim
    tespace = space-before-tab, indent-with-non-tab, trailing-space
    trustctime = false
    precomposeunicode = true
    excludesfile = ~/.gitignore_global
[color]
    ui = auto
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
[branch]
    autosetuprebase = always
[merge]
    tool = vimdiff
    log = true
    ff = false
[pull]
    rebase = true
[push]
    default = current
[credential]
    helper = osxkeychain
[alias]
    cleanup = !"git branch --merged | grep -v \\* | xargs -I % git branch -d %"
    cl = !"git cleanup"
    # log
    l = log --pretty=oneline -n 20 --graph --abbrev-commit
    wc = whatchanged
    graph = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
    lg = !git graph
    # diff
    d = !"git diff-index --quiet HEAD -- || clear; git --no-pager diff --patch-with-stat"
    di = !"d() { git diff --patch-with-stat HEAD~$1; }; git diff-index --quiet HEAD -- || clear; d"
    # pull
    p = !"git pull; git submodule foreach 'git checkout master; git pull origin master'"
    # verbose
    tags = tag -l
    branches = branch -a
    remotes = remote -v
    # find
    fb = "!f() { git branch -a --contains $1; }; f"
    ft = "!f() { git describe --always --contains $1; }; f"
    fc = "!f() { git log --pretty=format:'%C(yellow)%h  %Cblue%ad  %Creset%s%Cgreen  [%cn] %Cred%d' --decorate --date=short -S$1; }; f"
    fm = "!f() { git log --pretty=format:'%C(yellow)%h  %Cblue%ad  %Creset%s%Cgreen  [%cn] %Cred%d' --decorate --date=short --grep=$1; }; f"
[filter "lfs"]
    clean = git lfs clean %f
    smudge = git lfs smudge %f
    required = true
[commit]
    gpgsign = true
[gpg]
	program = /opt/brew/bin/gpg
