*

# White list
!.bashrc
!.bash_aliases
!.bash_completion
!.bash_profile
!.bin
!.config
!.config/gh
!.config/gh/**
!.config/git
!.config/git/**
!.config/nvim
!.config/nvim/**
!.config/tmux
!.config/tmux/tmux.conf
!.config/tmux/plugins
!.config/tmux/plugins/**
!.config/zsh
!.config/zsh/.p10k.zsh
!.config/zsh/.zshenv
!.config/zsh/.zshrc
!.config/zsh/custom
!.config/zsh/custom/**
!.gitignore
!.gitmodules
!.gvimrc
!.iterm2.conf.d
!.sh_local.template
!.sh_mine
!.sh_path
!.tigrc
!.vim
!.vim/pack
!.vim/pack/**
!.vimrc
!.zshenv
!README.md
!Brewfile

# Black list
.vim/.vim
.vim/.netrwhist
.vim/sessions
.zsh/.zcompcache
.zsh/.zcompdump*
.zsh/.zsh_history
.zsh/.zsh_sessions
