[submodule ".ohmyzsh"]
	path = .ohmyzsh
	url = git@github.com:ohmyzsh/ohmyzsh.git
	branch = master
[submodule ".tmux/plugins/tmux-battery"]
	path = .tmux/plugins/tmux-battery
	url = git@github.com:tmux-plugins/tmux-battery.git
	branch = master
[submodule ".tmux/plugins/tmux-cpu"]
	path = .tmux/plugins/tmux-cpu
	url = git@github.com:tmux-plugins/tmux-cpu.git
	branch = master
[submodule ".tmux/plugins/tmux-pain-control"]
	path = .tmux/plugins/tmux-pain-control
	url = git@github.com:tmux-plugins/tmux-pain-control.git
	branch = master
[submodule ".tmux/plugins/tmux-sensible"]
	path = .tmux/plugins/tmux-sensible
	url = git@github.com:tmux-plugins/tmux-sensible.git
	branch = master
[submodule ".tmux/plugins/tmux-sessionist"]
	path = .tmux/plugins/tmux-sessionist
	url = git@github.com:tmux-plugins/tmux-sessionist.git
	branch = master
[submodule ".tmux/plugins/tmux-yank"]
	path = .tmux/plugins/tmux-yank
	url = git@github.com:tmux-plugins/tmux-yank.git
	branch = master
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = git@github.com:tmux-plugins/tpm.git
	branch = master
[submodule ".tmux/themes/colors-solarized"]
	path = .tmux/themes/colors-solarized
	url = git@github.com:seebi/tmux-colors-solarized.git
	branch = master
[submodule ".vim/pack/colors/start/solarized8"]
	path = .vim/pack/colors/start/solarized8
	url = git@github.com:lifepillar/vim-solarized8.git
	branch = master
[submodule ".vim/pack/plugins/start/airline"]
	path = .vim/pack/plugins/start/airline
	url = git@github.com:vim-airline/vim-airline.git
	branch = master
[submodule ".vim/pack/plugins/start/airline-themes"]
	path = .vim/pack/plugins/start/airline-themes
	url = git@github.com:vim-airline/vim-airline-themes.git
	branch = master
[submodule ".vim/pack/plugins/start/ale"]
	path = .vim/pack/plugins/start/ale
	url = git@github.com:dense-analysis/ale.git
	branch = master
[submodule ".vim/pack/plugins/start/asyncomplete"]
	path = .vim/pack/plugins/start/asyncomplete
	url = git@github.com:prabirshrestha/asyncomplete.vim.git
	branch = master
[submodule ".vim/pack/plugins/start/asyncomplete-lsp"]
	path = .vim/pack/plugins/start/asyncomplete-lsp
	url = git@github.com:prabirshrestha/asyncomplete-lsp.vim.git
	branch = master
[submodule ".vim/pack/plugins/start/clrzr"]
	path = .vim/pack/plugins/start/clrzr
	url = git@github.com:BourgeoisBear/clrzr.git
	branch = master
[submodule ".vim/pack/plugins/start/copilot"]
	path = .vim/pack/plugins/start/copilot
	url = git@github.com:github/copilot.vim.git
	branch = release
[submodule ".vim/pack/plugins/start/ctrlp"]
	path = .vim/pack/plugins/start/ctrlp
	url = git@github.com:ctrlpvim/ctrlp.vim.git
	branch = master
[submodule ".vim/pack/plugins/start/devicons"]
	path = .vim/pack/plugins/start/devicons
	url = git@github.com:ryanoasis/vim-devicons.git
	branch = master
[submodule ".vim/pack/plugins/start/dispatch"]
	path = .vim/pack/plugins/start/dispatch
	url = git@github.com:tpope/vim-dispatch.git
	branch = master
[submodule ".vim/pack/plugins/start/editorconfig"]
	path = .vim/pack/plugins/start/editorconfig
	url = git@github.com:editorconfig/editorconfig-vim.git
	branch = master
[submodule ".vim/pack/plugins/start/fern"]
	path = .vim/pack/plugins/start/fern
	url = git@github.com:lambdalisue/fern.vim.git
	branch = master
[submodule ".vim/pack/plugins/start/fern-git-status"]
	path = .vim/pack/plugins/start/fern-git-status
	url = git@github.com:lambdalisue/fern-git-status.vim.git
	branch = master
[submodule ".vim/pack/plugins/start/fern-mapping-search-ctrlp"]
	path = .vim/pack/plugins/start/fern-mapping-search-ctrlp
	url = git@github.com:MeF0504/fern-mapping-search-ctrlp.vim.git
	branch = master
[submodule ".vim/pack/plugins/start/fern-renderer-nerdfont"]
	path = .vim/pack/plugins/start/fern-renderer-nerdfont
	url = git@github.com:lambdalisue/fern-renderer-nerdfont.vim.git
	branch = master
[submodule ".vim/pack/plugins/start/fugitive"]
	path = .vim/pack/plugins/start/fugitive
	url = git@github.com:tpope/vim-fugitive.git
	branch = master
[submodule ".vim/pack/plugins/start/glyph-palette"]
	path = .vim/pack/plugins/start/glyph-palette
	url = git@github.com:lambdalisue/glyph-palette.vim.git
	branch = master
[submodule ".vim/pack/plugins/start/indent-guides"]
	path = .vim/pack/plugins/start/indent-guides
	url = git@github.com:preservim/vim-indent-guides.git
	branch = master
[submodule ".vim/pack/plugins/start/lsp"]
	path = .vim/pack/plugins/start/lsp
	url = git@github.com:prabirshrestha/vim-lsp.git
	branch = master
[submodule ".vim/pack/plugins/start/lsp-ale"]
	path = .vim/pack/plugins/start/lsp-ale
	url = git@github.com:rhysd/vim-lsp-ale.git
	branch = master
[submodule ".vim/pack/plugins/start/lsp-settings"]
	path = .vim/pack/plugins/start/lsp-settings
	url = git@github.com:mattn/vim-lsp-settings.git
	branch = master
[submodule ".vim/pack/plugins/start/nerdfont"]
	path = .vim/pack/plugins/start/nerdfont
	url = git@github.com:lambdalisue/nerdfont.vim.git
	branch = master
[submodule ".vim/pack/plugins/start/signify"]
	path = .vim/pack/plugins/start/signify
	url = git@github.com:mhinz/vim-signify.git
	branch = master
[submodule ".vim/pack/plugins/start/test"]
	path = .vim/pack/plugins/start/test
	url = git@github.com:vim-test/vim-test.git
	branch = master
[submodule ".vim/pack/syntax/opt/shutup"]
	path = .vim/pack/syntax/opt/shutup
	url = git@github.com:heavenshell/vim-shutup.git
	branch = master
[submodule ".vim/pack/syntax/opt/terraform"]
	path = .vim/pack/syntax/opt/terraform
	url = git@github.com:hashivim/vim-terraform.git
	branch = master
[submodule ".vim/pack/syntax/opt/yats"]
	path = .vim/pack/syntax/opt/yats
	url = git@github.com:HerringtonDarkholme/yats.vim.git
	branch = master
