/*
/.*

# White list
!/.bashrc
!/.bash_aliases
!/.bash_completion
!/.vim
!/.vimrc
!/.gvimrc
!/.ipython
!/README.rest

!/.gitignore
!/.gitconfig
!/.gitmodules
!/.gitattributes

# Black list
/.vim/.netrwhist
/.vim/sessions
/.vim/autoload/pathogen.vim
/.ipython/profile_default/history.sqlite
.DS_Store
