/*
/.*

# White list
!/.bashrc
!/.bash_aliases
!/.bash_completion
!/.bash_profile
!/.bin
!/.config/gh
!/.config/git
!/.gitignore
!/.gitmodules
!/.gvimrc
!/.iterm2.conf.d
!/.ohmyzsh
!/.sh_local.template
!/.sh_mine
!/.sh_path
!/.tigrc
!/.tmux
!/.tmux.conf
!/.tmux-osx.conf
!/.tmux.conf.d
!/.vim
!/.vimrc
!/.zshrc
!/.zsh_completion
!/README.md
!/Brewfile

# Black list
/.vim/.vim
/.vim/.netrwhist
/.vim/autoload/pathogen.vim
/.vim/init.vim
/.vim/sessions
doc/tags
doc/tags-ja
